<%= simple_form_for(@audiobook) do |f| %>
  <div class="form-inputs">
    <%= f.input :title,
                required: true,
                autofocus: true,
                label: "Titre du conte",
                input_html: { autocomplete: "Le conte..." } %>
    <%= f.input :author,
                required: true,
                label: "Auteur⋅rice du conte",
                input_html: { autocomplete: "Mr Seguin" } %>
    <%= f.input :description,
                required: true,
                label: "Résumé du conte",
                input_html: { autocomplete: "Il était une fois..." } %>
    <%= f.input :photo, as: :file %>
    <%= f.input :audio, as: :file, :resource_type => :video %>
    <%= f.input :duration, as: :integer,
                required: true,
                label: "Durée de l'enregistrement",
                input_html: { autocomplete: "L'audio dure..." } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Hop et voilà!" %>
  </div>
<% end %>
