<div class="container">
  <h1 class="m-2 text-center">Hey hey, voilà tous les contes que tu peux écouter ici!
  Enjoy ✨</h1>
    <% @audiobooks.each do |audiobook| %>
      <div class="m-2 p-2 bg-framboise rounded-lg">
        <p><%= audiobook.title %></p>
        <p><%= audiobook.author %></p>
        <p><%= audiobook.duration %> minutes</p>
        <%= link_to "Écouter le conte", audiobook_path(audiobook)  %>
      </div>
    <% end %>
    <p class="text-center mx-auto w-6/12 bg-soleil rounded-full shadow"><%= link_to 'Enregistre ton conte', new_audiobook_path  %></p>
</div>
