<div class="container">
    <div class="m-4 p-3 bg-framboise rounded-lg text-center">
        <%= cl_image_tag @audiobook.photo.key, height: 300, width: 400, crop: :fill %>
        <p class="font-bold mt-1"><%= @audiobook.title %></p>
        <p class="text-sm">( <%= link_to "📝", edit_audiobook_path(@audiobook) %> |
          <%= link_to "🗑",
                audiobook_path(@audiobook),
                method: :delete,
                data: { confirm: "Tu es sûr⋅e de toi?" } %> )</p>
        <p class="italic text-sm"><%= @audiobook.author %> | <%= @audiobook.duration %> minutes</p>
        <p class="text-sm my-3"><%= @audiobook.description %><p>
        <% audio = cl_video_path(@audiobook.audio.key, :resource_type => :video) %>
        <span class="w-full"><audio src="<%= audio %>" controls></audio></span>

      <div class="bg-white bg-opacity-50 mt-3 pb-1 px-3 text-left rounded-lg">
      <button class=""><%= link_to 'Leave a review', new_audiobook_review_path(@audiobook) %></button>
      <ul class="list-group">
        <% @audiobook.reviews.each do |review| %>
          <li class="bg-white bg-opacity-80 my-1 px-2 rounded-lg flex justify-between inline-block">
            <p><%= review.rating %> ⭐️ - <%= review.comment %>
            <span class="italic"> - <%= review.user.username %></span></p>
            <p class=""><% if current_user == review.user %>
            <%= link_to "🗑",
              review_path(review),
              method: :delete,
              data: { confirm: "Tu es sûr⋅e de toi?" } %>
            <% end %></p>
          </li>
        <% end %>
      </ul>
      </div>

    </div>

  <p class="text-center mx-auto w-6/12 bg-soleil rounded-full shadow"><%= link_to "Voir tous les contes", audiobooks_path  %></p>
</div>
